%table
  %thead
    %tr
      %th Project Name
      %th Edit
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= link_to("Edit #{project.name}", edit_project_path(project))

%a{href: 'projects/new', class: 'btn'}
  %i{class: 'icon-plus'}
  = " Add project"